body{
    font-family: 'Comfortaa';
    background-color: rgba(0, 0, 0, 0.827);
}

.logo{
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: rgba(79, 255, 140, 0.389);
    position: relative;  
}
.logo::before{
    content: "";
    background-color: rgba(223, 127, 255, 0.53);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 8px;
    left: 8px;
    transition: 0.2s;
}

.logo::after{
    content: "";
    background-color: rgba(34, 224, 199, 0.504);
    width: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 4px;
    left: 4px;
    transition: 0.2s;
}
.section-post-title{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px #ffffff;
    font-weight: 900;
    margin: 80px;
}
.header-block{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    position: fixed;
    font-weight: 900;
    background-color:rgba(22, 21, 21, 0.944);
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 10px 30px rgb(0, 0, 0);
    z-index: 6;
}
.nav-ul{
    display: flex;  
}
.nav-li{
    width: 150px;
    height: 40px;
    margin-right: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    transition: background-color 0.5s ease-out;
}
.nav-li:hover{
    box-shadow: 0px 0px 10px rgb(168, 127, 255);
    
}

.nav-a{
    color: rgb(255, 255, 255);
}
.nav-block{
    display: flex;
    justify-content: space-between;
    
}
.slider-block{
    position: relative;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider-content{
    width: 100%;
    height: 100%;
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .slider-content::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.799);
    display: inline-block;
    opacity: 60%;
} */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 800;
    border-radius: 15px;
    background-color: #3c3c3c2f;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 60px;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
}
.arrow:hover{
    background: linear-gradient(to top right, #c043fa79 0%, #333dff74 100%);
    opacity: 80%;
    box-shadow: 0px 5px 10px #4d3b69e0;
}
.right{
    right: 5%; 
}
.left{
    left: 5%; 
}
.a-link{    
    max-width: 150px;
    width: 100%;
    height: 80px;
    transform: translateY(-30%);
    background: linear-gradient(to top right, #c043fa79 0%, #333dff8f 100%);
    vertical-align: middle;
    opacity: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 60px;
    transition: box-shadow 1s;
}

.a-link:hover{
    box-shadow: 0px 10px 15px #453152e0;
}
.h2-link{
    font-size: 25px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
    opacity: 80%;
}
.active-li{
    border: solid;
    border-width: 0.5px;
    border-color: rgb(169, 138, 248);
    
}
.dots {
    display: flex;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    cursor: pointer;
}
.dot.active {
    background: linear-gradient(to top right, #c043faf6 0%, #333dffbc 100%);
    opacity: 100%;
}
.post-div{
    max-width: 350px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    background-color: rgba(191, 168, 243, 0.603);
    opacity: 70%;
    margin-bottom: 20px; 
}
.post-div:hover{
    transform: scale(1.07); 
    box-shadow: 0px 0px 30px rgba(156, 232, 183, 0.689);
}
.view-post{
    margin-left: 60%;
    margin-top: 15%;
    background-color: #ff993300;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Comfortaa';
}

.view-post {
    color: #fff;
    text-decoration: none;
    /* display: inline-block; */
    position: relative;
}
.view-post:after {    
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(255, 255, 255);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.view-post:hover:after { 
    width: 100%; 
    left: 0; 
}
.main-post-block{
    max-width: 800px;
    margin: 100px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    
}
.post-card{
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    max-width: 500px;
    width: 100%;
    height: 400px;
    background-color: #ffffffeb;
    border-radius: 7px;
    box-shadow: 0px 0px 30px rgb(49, 9, 5);
    margin: 0 auto;
    display: none;
    z-index: 5;
}
.post-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
    color: rgb(11, 11, 11);
    
}

.close-icon{
    position: absolute;
    top: 1.5%;
    right: 3%;
    font-size: 25px;
    color: rgb(116, 115, 115);
    cursor: pointer;
}
.post-title{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5%;
    margin-top: 10%;
}

.post-description{
    text-align: center;
    font-size: 20px;
    margin-bottom: 5%;
    margin-top: 5%;

}
.footer-block{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    position: fixed;
    bottom: 0;
    left: 0;
    font-weight: 900;
    background-color:rgba(22, 21, 21, 0.944);
    width: 100%;
    box-shadow: 15px 0px 50px rgb(0, 0, 0);
    z-index: 1;
}
.social-media-div{
    max-width: 200px;
    width: 100%;
    padding-top: 10px;
}
.fb-text{
    margin-left: 10px;
    font-size: 12px;
}
.icon-block{
    background-color: #9d58f8;
    color: white;
    max-width: 30px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.color{
    background-color: #00c0c3;
}
.fb-div{
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}
.twitter{
    background-color: #55ACEE;
}
.google{
    background-color: #DC4E41;
}
.social-icons{
    display: flex;
    justify-content: flex-start;
}
.current-date{
    color: rgb(255, 255, 255);
}


/* Service Styles */
.services-block{
    max-width: 1000px;
    margin: 60px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-div{
    max-width: 430px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    border-radius: 7px;
    box-shadow: 5px 5px 20px rgba(46, 41, 38, 0.705);
    background-color:  rgba(192, 172, 235, 0.603);
    opacity: 70%;
    margin-bottom: 50px;
}
.service-img{
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 8px;
    transform: scale(0.95);
	transition: .3s ease-in-out;
}
.service-img:hover{
    transform: scale(1);
}
.service-title{
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.delete-service-button{
    border-radius: 8px;
    border: none;
    margin: 20px auto 20px auto;
    height: 30px;
    width: 150px;
    background-color: #00000053;
    color: white;
    box-shadow: none;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
    font-family: 'Comfortaa';
    
}
.delete-service-button:hover{
    background-color:#070707a5;
    box-shadow: 0px 0px 15px #1212128a;
}
.service-describe{
    font-size: 15px;
}

.service-card{
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 750px;
    width: 100%;
    height: 350px;
    background-color: rgba(209, 195, 195, 0.96);
    border-radius: 7px;
    box-shadow: 0px 0px 30px rgb(219, 194, 192);
    display: none;
}

/* add new service styles */

.add-service-form{
    border-radius: 80px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-color:#bda89e00; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    box-shadow: 0px 2px 10px 0px rgb(168, 127, 255);
    cursor: pointer;
    transition: 0.3s;
    border: solid;
    border-color:rgb(168, 127, 255);
    border-width: 2px;
}
.add-service-form:hover{
    transform: translateY(-2px);
    box-shadow: 0px 10px 20px 2px rgba(193, 164, 255, 0.603);
}
.service-form-block{
    display: none;
}
.service-form{
    max-width: 500px;
    width: 100%;
    position: fixed;
    top: 8%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #ffffffeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 3;
}
.newservice-title{
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 10px;
    color:rgba(0, 0, 0, 0.847);
}
.horizontal-line{
    max-width: 500px;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.573);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.703);
    margin-bottom: 10px;
    padding: 0;
}
.closesave-buttons {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: right;
}
input[type="text"], textarea,
input[type="email"]{
    font-family: 'Comfortaa';
    background-color:   #ffffff00; 
}

#service-title,
#email{
    outline: none;
    border: none;
    border-bottom: 2px solid  rgb(146, 145, 145);
    margin-top: 5px;
}

#service-description{
    outline: none;
    border: 2px solid  rgb(146, 145, 145);
}
.span-error{
    margin-top: 20px;
}

input[type=file]::file-selector-button {
    height: 30px;
    padding: .2em .4em;
    border: none;
    border-radius: 7px;
    background-color: #ffffff00;
    transition: 1s;
    cursor: pointer;
    font-family: 'Comfortaa';
}

  input[type=file]::file-selector-button:hover{
    background-color: #c6bdd5c8;
    color: #ffffff;
}
.close-service-button,
.save-service-button{
    margin: 0px 10px 0px 10px;
    border: #bda89e;
    border-radius: 7px;
    cursor: pointer;
    transition: 1s;
    font-family: 'Comfortaa';
}

.close-service-button:hover{
    background-color: #c6bdd5c8;
    color: #ffffff;
}
.save-service-button:hover{
    background-color:  #c6bdd5c8;
    color: #ffffff;
}

.active-post{
    display: block;
}

.span-error{
    color: red;
}

/* burger bar */
.burger-child{
    width: 40px;
    height: 5px;
    background-color: #c56dff;
    margin-top: 7px;
    border-radius: 7px;
    transition: 0.5s linear;
}
.burger-bar{
    position: absolute;
    top:20px;
    transform: translateY(-50%);
    right: 10px;
    display: none;
    cursor: pointer;
    
}